######################
# Project
######################

build/

######################
# Node
######################

/node/
node_tmp/
node_modules/
npm-debug.log.*
/.awcache/*

######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/

######################
# Windows
######################
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

######################
# Mac OSX
######################
.DS_Store
.svn

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

######################
# Directories
######################
/deploy/

######################
# Logs
######################
*.log*

######################
# Others
######################
*.class
*.*~
*~
.merge_file*

######################
# ESLint
######################
.eslintcache

######################
# Coverage
######################
.coveralls.yml
.nyc_output
coverage/

docker
.env
.env.test
swagger-ui